<f:be.container>
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
            <script type="text/javascript">

                ajaxUrl = "{f:uri.action(action:'ajax', pageType:'99')}";

            </script>
			<div id="typo3-docheader-row1">
				<div class="buttonsleft">

				</div>
				<div class="buttonsright">
					<f:be.buttons.shortcut />
				</div>
			</div>
			<div id="typo3-docheader-row2">
				<div class="docheader-row2-left">
					<f:be.buttons.csh />
					<f:be.menus.actionMenu>
                        <f:be.menus.actionMenuItem label="{f:translate(key:'select.list')}" controller="" action="list" />
                        <f:be.menus.actionMenuItem label="{f:translate(key:'select.show')}" controller="" action="show" />
						<f:be.menus.actionMenuItem label="{f:translate(key:'select.newpage')}" action="new" controller="Page" />
						<f:be.menus.actionMenuItem label="{f:translate(key:'select.newkeyword')}" action="new" controller="Keyword" />
					</f:be.menus.actionMenu>
				</div>
				<div class="docheader-row2-right">
					<f:be.pagePath />
					<f:be.pageInfo />
				</div>
			</div>

		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:flashMessages renderMode="div" />
				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>