<table class="tx-onpage-seo" >
	<tr>
		<td>
			<f:translate key="tx_onpageseo_domain_model_pages.titletag" />
		</td>
		<td>
			{pages.titletag}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_onpageseo_domain_model_pages.canonicaltag" />
		</td>
		<td>
			{pages.canonicaltag}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_onpageseo_domain_model_pages.fbimage" />
		</td>
		<td>
			{pages.fbimage}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_onpageseo_domain_model_pages.fbdesc" />
		</td>
		<td>
			{pages.fbdesc}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_onpageseo_domain_model_pages.gplusdesc" />
		</td>
		<td>
			{pages.gplusdesc}
		</td>
	</tr>
</table>